@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Webfont: Thunder-MediumHC */
@font-face {
    font-family: 'ThunderMed';
    src: url('Thunder-MediumHC.eot');
    /* IE9 Compat Modes */
    src: url('Thunder-MediumHC.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../public/fonts/Thunder-MediumHC.woff2') format('woff2'),
        /* Modern Browsers */

        url('../public/fonts/Thunder-MediumHC.ttf') format('truetype'),
        /* Modern Browsers */
    ;
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ThunderBold';

    /* IE9 Compat Modes */
    src:
        url('../public/fonts/Thunder-BoldLC.ttf') format('truetype'),
        /* Modern Browsers */
    ;
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fog5';
    src: url('../public/fonts/FogtwoNo5.ttf') format('truetype'),
        /* Modern Browsers */
    ;

}

@font-face {
    font-family: 'Outfit';
    src: url('../public/fonts/Outfit-VariableFont_wght.ttf') format('truetype'),
        /* Modern Browsers */
    ;

}





body {
    background-color: #000;
}

h1 {
    color: white;
}

.button {
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFF8E4;
}

.containerr {
    display: flex;
    top: 20px;
}

.header__start {

    background-color: #032F56;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    z-index: 100;
}


.header__logo {
    margin-left: 15px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
}

.header__titre {
    display: flex;
    width: 100px;
    margin-top: 27px;
    margin-left: 7px;
}

.header__end {
    margin-left: 0px;


}

.menu-btn {
    position: absolute;
    width: 35px;
    height: 25px;
    margin-right: 30px;
    bottom: 97px;
    right: 0px;


}

.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: var(--brand-violet);
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing);
    transition: all .4s ease-in-out;
}

/* On se sert de Javascript pour ajouter une classe sur le menu lorsqu'on clique sur le bouton de menu pour le faire apparaître */
.menu--open {
    visibility: visible;
    opacity: 1;
    background: #fff;
}


/* Mise en forme des éléments du menu */


.menu__item {
    margin-top: 15%;
}

.menu__link {
    color: black;
    text-decoration: none;
    z-index: 20;
}


/* Mise en forme du bouton de menu "Hamburger" */

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: '';
    background: #1D63EF;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
    z-index: 100;
    top: 72px;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
  Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}



.menu__item {
    position: relative;
    left: 0px;
    align-content: center;
    list-style: none;
}

.grandline {
    position: relative;
    left: 45px;
    top: 45px;

}

.menu__text {
    position: relative;
    left: 0px;
    align-content: center;
    list-style: none;
    width: 120%;
}

.menu__item--btn {
    padding-top: 6%;
    padding-left: 13%;
}

.menu-btn {
    z-index: 101;
    background: none;
    border: none;
    height: 0;
    width: 0;
}

.header__menu-btn {
    height: 100px;
    width: 35px;
    top: -22px;
}



.menu_list_link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu_list {
    position: absolute;
    width: 70%;
    max-width: 80%;
    line-height: 1em;
    padding-left: 15px;
    padding-top: 145px;
}

.body_button--menu {
    width: 27%;
    position: absolute;
    height: 50px;
    top: 110px;
    left: 130px;

}